*,
*::before,
*::after {
  box-sizing: border-box;
}

/*! Global style */
html {
  -webkit-print-color-adjust: exact !important;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  color: #4a4a4a;
}

body {
  background-color: #ccc;
  position: relative;
}

p {
  font-size: 12px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Table */
table {
  border-spacing: 0;
  font-size: 12px;
  line-height: 1.5;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

table td,
table th {
  padding: 4px 6px;
}

table tr.spacer {
  height: 14px;
}

table tr.weekend {
  background: rgba(202, 229, 255, 0.1);
}

table .icon {
  display: flex;
  align-items: center;
  gap: 6px;
}

table .number {
  width: 30px;
}

table .bold {
  font-weight: bold;
}

table .center {
  text-align: center;
}

table .right {
  text-align: right;
}

table .top {
  vertical-align: top;
}

table .border {
  border-bottom: 0.5px solid #c7c7c780;
}

table .truncate span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* List */
ol,
ul {
  font-size: 12px;
  padding-left: 20px;
  line-height: 1.5;
}

/* Image */
.image.avatar {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: #d8d8d8;
}

/* column */
.col {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col .column,
.col .column .col .column {
  max-width: calc(100% * (6 / 10) - 80px);
}

/* title */
.title {
  position: relative;
  margin: auto 0 30px;
  color: #21386b;
}

.title span {
  font-size: 12px;
}

.title .heading {
  margin: 0;
  font-size: 24px;
}

.title .subheading {
  margin: 4px 0 0 0;
  font-size: 12px;
}

/* header */
.header-page {
  margin-top: 10px;
  font-size: 12px;
  position: absolute;
  top: 50px;
  right: 2cm;
  color: #666666 !important;
}

/* Global Class */
.header-name {
  margin: 0 0 10px;
  color: #21386b;
  border-radius: 4px;
  padding: 10px;
  background: #fafafa;
  font-size: 12px;
}

/* page */
.page {
  position: relative;
  background-color: white;
  width: 29.7cm;
  height: 21cm;
  display: block;
  margin: 0 auto 1cm;
  padding: 2cm;

  overflow: hidden;
  page-break-after: always;
}

.page:first-of-type {
  margin-top: 1cm;
}

.cover,
.footer,
.footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! Page Cover */
.cover {
  flex-direction: column;
}

.cover img {
  max-height: 80px;
  margin: auto;
}

.cover .header {
  margin-bottom: 0;
}

.cover .header:not(h1) {
  margin-top: 12px;
}

.cover h1 {
  font-size: 34px;
}

.cover h3 {
  font-size: 22px;
}

.cover h4,
.cover h5 {
  font-size: 14px;
}

.cover h5.header {
  margin-top: 32px;
  font-weight: normal;
}

/*! Content Page */
.toc td:first-child {
  min-width: 400px;
  padding-left: 0;
}

.toc .header {
  margin: 20px auto 10px;
}

.toc .header:not(:nth-of-type(1)) {
  margin: 30px auto 10px;
}

/*! Overview Page */
.overview .image:nth-of-type(2) {
  margin-top: -15px;
}

.overview .summary-text {
  margin: 16px 0 10px;
}

.overview .col {
  align-items: flex-start;
}

.overview .table-content.w-4 .column {
  max-width: 220px;
}

.overview .table-content.w-5 .column {
  max-width: 180px;
}

.overview .table-content .column {
  max-width: 150px;
}

.overview .table-content .column:first-of-type {
  max-width: 50px !important;
  margin-top: 36px;
}

.overview .table-content .column:first-of-type td span {
  font-weight: bold;
}

.overview h5,
.overview-detail h5 {
  font-size: 12px;
  margin: 6px auto 12px;
  font-weight: normal;
}

.overview .table-content .col h5 {
  margin: 0 auto 8px;
  background: #fafafa;
  padding: 6px 0;
  border-radius: 2px;
  font-size: 12px;
}

.overview .column:not(:first-of-type) {
  padding: 0 10px;
}

tr.border,
.overview .column:not(:first-of-type) tr:not(:last-child) {
  border-bottom: 0.5px solid #c7c7c780;
}

.overview-detail th:first-of-type,
.overview-detail td:first-of-type,
.overview .column:not(:first-of-type) th:first-of-type,
.overview .column:not(:first-of-type) td:first-of-type {
  width: 50px;
}

.overview table tr td:nth-child(2) {
  text-align: right;
}

.overview tr.selected {
  background-color: rgba(3, 61, 168, 0.07);
}

.overview tr.disabled {
  opacity: 0.3;
}

.overview-detail .column {
  max-width: 290px;
}

.overview-detail .column:first-child {
  max-width: 680px;
}

.overview-detail .column:not(:first-child) h5 {
  margin: 24px 0 10px;
}

.overview-detail th:not(:first-child),
.overview-detail td:not(:first-child) {
  text-align: right;
}

.overview-detail tr:not(:last-child) {
  border-bottom: 1px solid #c7c7c780;
}

.overview-detail table .selected {
  background-color: rgba(3, 61, 168, 0.07);
}

.overview-detail h5 {
  margin: 6px auto 4px;
}

.overview-detail h5.sub {
  font-size: 12px;
  margin: 0 auto 24px;
  font-weight: normal;
}

.overview-detail .muted {
  color: #949494;
}

.overview-map img {
  max-height: 620px;
  margin: auto;
}

.retail-analytic-scatter .column:first-child {
  max-width: 700px;
}

.retail-analytic-scatter .column:first-child .header {
  font-weight: normal;
  justify-content: center;
}

.retail-analytic-scatter td:first-child,
.retail-analytic-scatter th:first-child {
  width: 30px;
}

.retail-analytic-scatter td:nth-child(3),
.retail-analytic-scatter td:nth-child(4),
.retail-analytic-scatter th:nth-child(3),
.retail-analytic-scatter th:nth-child(4) {
  width: 50px;
}

.retail-analytic-scatter .column .header {
  margin: 20px auto 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.retail-analytic-scatter .column .header svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.retail-analytic-scatter .labels {
  top: 25px;
  left: 46px;
}

.retail-analytic-scatter .label {
  display: contents;
}

.retail-analytic-scatter .column:not(:first-child) {
  margin-top: -20px;
  max-width: 260px;
}

.retail-analytic-scatter .column:not(:first-child) p {
  margin-top: 30px;
}

.retail-analytic-bar .image {
  max-width: 920px;
  margin: auto;
}

.facility-dashboard-line .col {
  margin-top: 10px;
}

.facility-dashboard-line .col .column {
  max-width: 220px;
}

.overview-table tr,
.facility-dashboard-table tr {
  border-bottom: 1px solid #c7c7c780;
}

.overview-table thead tr,
.facility-dashboard-table thead tr,
.overview-detail thead tr {
  border-color: #c7c7c7;
}

.overview-table tr td,
.facility-dashboard-table tr td {
  overflow: hidden;
  white-space: nowrap;
}

.overview-table td:nth-child(1),
.overview-table th:nth-child(1),
.facility-dashboard-table td:nth-child(1),
.facility-dashboard-table th:nth-child(1) {
  width: 40px;
}

.overview-table td:nth-child(3),
.overview-table th:nth-child(3) {
  width: 150px;
  text-align: right;
  padding-right: 22px;
}

.overview-table td:nth-child(3) {
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
}

.overview-table td:nth-child(3) svg {
  margin-left: 10px;
}

.facility-dashboard-table td:nth-child(3),
.facility-dashboard-table th:nth-child(3),
.facility-dashboard-table td:nth-child(4),
.facility-dashboard-table th:nth-child(4) {
  width: 70px;
}

.facility-dashboard-table td:nth-child(3) {
  font-weight: bold;
}

.facility-dashboard-table td:nth-child(5),
.facility-dashboard-table th:nth-child(5) {
  width: 250px;
}

.overview-table td:nth-child(4),
.overview-table th:nth-child(4),
.facility-dashboard-table td:nth-child(6),
.facility-dashboard-table th:nth-child(6) {
  width: 150px;
}

.overview-table td:nth-child(5),
.overview-table th:nth-child(5) {
  width: 180px;
}

.overview-table td:nth-child(6),
.overview-table th:nth-child(6) {
  width: 80px;
}

.facility-dashboard-table table {
  width: 75%;
}

.overview-table table td,
.facility-dashboard-table table td {
  padding: 5px 6px;
}

.overview table tr td:nth-child(2) span,
.overview-detail td:not(:first-child) span,
.overview-table tr td span,
.personas-pie td:first-child span,
.overview-demographic table td:first-child span,
.facility-dashboard-table tr td span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overview-table .header {
  color: #21386b;
  margin: 0 auto 10px;
}

.overview-table .col .column:first-child {
  max-width: 760px;
}

.overview-table .col .column:nth-child(2) {
  max-width: 200px;
}

.overview-table .col {
  align-items: flex-end;
}

.overview-demographic .col:nth-child(3) .column {
  width: 100%;
  max-width: 220px;
}

.overview-demographic .col:nth-child(2) {
  margin-bottom: 10px;
}

.overview .col .column,
.overview-demographic .col:nth-child(2) .column,
.overview-demographic .col:nth-child(4) .column {
  max-width: calc(50% - 60px);
  width: 100%;
}

.overview-demographic h4 {
  margin: 10px auto;
}

.overview-demographic .col img {
  max-width: 120px;
  margin: 20px 0;
}

.personas-pie td:first-child,
.overview-demographic table td:first-child {
  display: flex;
  align-items: center;
}

.personas-pie td svg,
.overview-demographic table td svg:not(.triangle-progress) {
  margin-right: 6px;
  min-width: 10px;
}

.personas-pie td:not(:first-child),
.overview-demographic table td:not(:first-child) {
  font-weight: bold;
  width: 55px;
  text-align: left;
}

.overview-demographic table td:not(:first-child) {
  text-align: right;
}

.overview-demographic table td:last-child {
  width: 6px;
  padding: 0;
}

.overview-demographic table td:last-child svg {
  width: 6px;
  height: 6px;
}

.over-time .col:nth-child(2) p {
  margin: 0 0 10px;
}

.over-time .image {
  margin: 40px auto;
}

.over-time-table .labels {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.over-time-table .label {
  right: 0;
  bottom: 0;
  display: inline-flex;
}

.over-time-table .week-header {
  color: #20376a;
  font-weight: bold;
  background-color: #fafafa;
}

.overview-personas .column,
.over-time-table .column {
  max-width: calc(50% - 20px);
}

.over-time-table td:not(:first-child) {
  text-align: center;
}

/*! Personas Page */
/* Overview */
.personas-pie {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.personas-pie .image {
  width: 150px;
}

.personas-pie table {
  max-width: calc(100% - 170px);
}

.overview-personas .column:not(:first-child) {
  margin-top: -90px;
}

.overview-personas .personas-table:not(.personas-pie) td {
  text-align: center;
}

.overview-personas .personas-table:not(.personas-pie) .image {
  margin-left: 25px;
}

/* Profile Persona */
.profiles-personas:first-child .wrapper-profiles {
  margin-top: 20px;
}

.profiles-personas .col:not(:first-child) {
  margin-top: -20px;
}

.wrapper-profiles .devide {
  border-right: 1px solid #c7c7c7;
}

.wrapper-profiles {
  margin-top: 20px;
}

.wrapper-profiles table {
  width: 100%;
}

.wrapper-profiles td:first-child {
  width: 110px;
}

.wrapper-profiles td:not(:first-child) {
  width: calc((100% - 110px) / 3);
}

.wrapper-profiles {
  margin: 6px 0;
}

.wrapper-profiles tr {
  vertical-align: top;
}

.wrapper-profiles ul {
  padding: 0 0 0 16px;
  margin: 0;
}

.wrapper-profiles svg {
  margin-left: 4px;
}

.wrapper-profiles td:first-child {
  font-weight: bold;
}

.wrapper-profiles tr:not(:first-child) td {
  padding: 8px;
}

.wrapper-profiles tr:not(:first-child) td:not(:first-child) {
  padding: 8px 20px;
}

/* Sankey */
.sankey .image {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.sankey .sankey-chart .image::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0, white, transparent);
  -webkit-filter: opacity(1) !important;
}
.sankey .sankey-chart .image span {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
}

.sankey .column .image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.sankey .col {
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.sankey .column:not(:first-child) {
  max-width: 60%;
}

.sankey .sankey-wrapper {
  position: relative;
  z-index: 1;
  height: 70px;
}

.sankey .sankey-header {
  position: absolute;
  top: 0;
}

.sankey .sankey-header h4,
.sankey .sankey-header p {
  margin: 0;
}

.sankey .sankey-header p:first-of-type {
  margin-top: 6px;
  color: #033da8;
  font-weight: bold;
}

/* Sankey Tabulation */
.sankey-tabulation .col {
  justify-content: start;
  gap: 30px;
}

.sankey-tabulation .column {
  max-width: 380px;
}

/* Most Frequent */
.most-frequent-table {
  margin-top: -50px;
}

.most-frequent-table td:not(:first-child) {
  width: 120px;
  text-align: center;
}

.most-frequent-table .avatar {
  width: 60px;
  height: 60px;
}

.most-frequent-table .devide {
  border-bottom: 1px solid #c7c7c7;
}

.most-frequent-table .avatar-wrapper {
  padding: 10px 0;
}

.most-frequent-table .avatar-wrapper p {
  margin: 6px 0 0;
}

/* Explanatory Notes */
.explanatory-notes .col {
  margin-top: -10px;
}

.explanatory-notes .col .column {
  max-width: calc((100% / 3) - 10px);
}

.explanatory-notes .col h5 {
  color: #21386b;
}

.explanatory-notes .col h5:not(:first-child) {
  margin: 0;
  font-size: 12px;
}

.explanatory-notes .col p {
  margin-block-start: 4px;
}

.explanatory-notes i {
  font-size: 10px;
}

.explanatory-notes .wrap-list {
  padding-left: 16px;
}

.explanatory-notes .order-list-item {
  counter-increment: h6;
  display: list-item;
  font-size: 12px;
  text-align: justify;
  margin-block-start: 0;
  margin-block-end: 0;
}

.explanatory-notes .order-list-item p {
  font-weight: normal;
  margin-left: 14px;
}

.explanatory-notes .order-list-item::marker {
  content: counter(h6) ") ";
}

.explanatory-notes table tr {
  vertical-align: initial;
}

.explanatory-notes table td {
  padding: 0;
}

.explanatory-notes table td.bold {
  overflow-wrap: break-word;
  width: 50px;
}

.explanatory-notes table ul {
  list-style-type: "- ";
  margin: 0;
  padding-left: 14px;
}

.explanatory-notes .sankey-list {
  font-size: 12px;
  margin-bottom: 20px;
}

.explanatory-notes .sankey-list span {
  font-weight: bold;
}

.explanatory-notes .sankey-wrapper {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.explanatory-notes .sankey-wrapper p {
  margin: 6px auto;
}

.explanatory-notes .colors-wrapper,
.explanatory-notes .sankey-diagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanatory-notes .sankey-diagram svg {
  width: 240px;
  height: auto;
}

/* colors */
.explanatory-notes .colors-wrapper {
  margin-bottom: 10px;
}

.explanatory-notes .colors {
  padding: 10px;
  border: 0.5px solid #c7c7c780;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.explanatory-notes .colors h1 {
  font-size: 10px;
  margin: 0;
  text-align: center;
}

.explanatory-notes .colors ul {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
}

.explanatory-notes .colors li {
  padding-left: 24px;
  font-size: 10px;
  position: relative;
}

.explanatory-notes .colors li::after,
.explanatory-notes .colors li::before {
  content: "";
  position: absolute;
}

.explanatory-notes .colors li::before {
  width: 10px;
  left: 0;
  top: -6px;
}

.explanatory-notes .colors li:not(:last-child)::before {
  height: 15px;
}

.explanatory-notes .colors li:last-child::before {
  height: 20px;
}

.explanatory-notes .colors li:last-child {
  margin-top: -1px;
}

.explanatory-notes .colors li:not(:last-child)::after {
  width: 8px;
  left: 10px;
  top: 8px;
  border-top: 1px #c7c7c780 solid;
}

.explanatory-notes .colors li:nth-child(1)::before {
  background-color: rgb(3, 22, 65);
}

.explanatory-notes .colors li:nth-child(2)::before {
  background-color: rgb(11, 49, 145);
}

.explanatory-notes .colors li:nth-child(3)::before {
  background-color: rgb(40, 84, 196);
}

.explanatory-notes .colors li:nth-child(4)::before {
  background-color: rgb(107, 151, 255);
}

.explanatory-notes .colors li:nth-child(5)::before {
  background-color: rgb(176, 198, 253);
}

.explanatory-notes .colors li:nth-child(6)::before {
  background-color: rgb(216, 224, 243);
}

.explanatory-notes .colors li:nth-child(7)::before {
  background-color: rgb(237, 237, 237);
}

.explanatory-notes .colors li:nth-child(8)::before {
  background-color: white;
  border: 1px solid #c7c7c780;
}

/* Label Colors Table */
.info-header-color {
  width: 40px;
  height: 6px;
  display: block;
  border-radius: 10px;
  margin: 0 auto;
}

/* Label */
.labels {
  display: flex;
  font-size: 12px;
  position: absolute;
}

.labels svg {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.label:not(:last-child) span {
  margin-right: 16px;
}

/* Summary Text */
.summary-text h5 {
  margin: 10px 0;
  font-weight: bold;
}

.summary-text p {
  margin: 0 0 6px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 10px;
  width: 100%;
}

.footer span:not(.num-page) {
  color: #a4a4a4;
}

.footer img {
  display: block;
  width: auto;
  max-height: 18px;
  height: 100%;
  margin-left: 4px;
}

.footer .num-page {
  right: 50px;
  position: absolute;
  font-weight: bold;
}

/* note */
.note {
  margin-top: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 50px;
}

.note .list {
  margin-top: 6px;
  padding-left: 21px;
}

.note .list li {
  padding: 2px 0;
}

.public-holiday-note {
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 16px;
}

/* Utility */
.float-center {
  text-align: center;
}

.float-left {
  text-align: left;
}

.float-right {
  text-align: right;
}

/* Media print */
@media print {
  .page {
    margin: 0 auto !important;
    box-shadow: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 21cm;
    max-width: 29.7cm;
    size: A4 landscape;
  }

  .header-page {
    top: 0;
    right: 0;
  }

  .footer {
    bottom: 0;
  }

  .footer .num-page {
    right: 0;
  }

  .note {
    bottom: 15px;
  }

  .retail-analytic-scatter .labels {
    left: 60px;
  }
}
