@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base */
html {
  -webkit-print-color-adjust: exact;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  color: #4a4a4a;
}

body {
  background-color: #ccc;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

table {
  border-spacing: 0;
  font-size: 12px;
  line-height: 1.5;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

table td,
table th {
  padding: 4px 6px;
}

/* column */
.col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.col .col {
  justify-content: space-between;
}

.col .column,
.col .column .col .column {
  max-width: 260px;
}

/* title */
.title {
  margin: auto 0 30px;
  color: #21386b;
}

.title span {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.title .heading {
  margin: 0;
  font-size: 24px;
}

/* page */
.page {
  position: relative;
  background-color: white;
  width: 29.7cm;
  height: 21cm;
  display: block;
  margin: 0 auto 1cm;
  padding: 2cm;

  overflow: hidden;
  page-break-after: always;
}

.page:first-of-type {
  margin-top: 1cm;
}

.cover,
.footer,
.footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  flex-direction: column;
}

.cover img {
  max-height: 80px;
  margin: auto;
}

.cover .header {
  margin-bottom: 0;
}

.cover .header:not(h1) {
  margin-top: 12px;
}

.cover h1 {
  font-size: 26pt;
}

.cover h3 {
  font-size: 16pt;
}

.cover h4,
.cover h5 {
  font-size: 10pt;
}

.cover h5.header {
  margin-top: 32px;
  font-weight: normal;
}

.content-page tr td:first-child {
  min-width: 400px;
  padding-left: 0;
}

.content-page .header {
  margin: 20px auto 10px;
}

.content-page .header:not(:nth-of-type(1)) {
  margin: 30px auto 10px;
}

.overview-map img {
  max-height: 620px;
  margin: auto;
}

.overview-map .note {
  margin-top: -10px;
}

.retail-analytic-scatter .col .column:first-child {
  max-width: 700px;
}

.retail-analytic-scatter td:first-child,
.retail-analytic-scatter th:first-child {
  width: 30px;
}

.retail-analytic-scatter td:nth-child(3),
.retail-analytic-scatter td:nth-child(4),
.retail-analytic-scatter th:nth-child(3),
.retail-analytic-scatter th:nth-child(4) {
  width: 50px;
}

.retail-analytic-scatter .column .header {
  margin: 20px auto 10px;
  display: flex;
  align-items: center;
}

.retail-analytic-scatter .column .header svg {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.retail-analytic-scatter .note {
  margin-top: -20px;
}

.retail-analytic-bar .image {
  max-width: 920px;
  margin: auto;
}

.facility-dashboard-line .col {
  margin-top: 10px;
}

.facility-dashboard-line .col .column {
  max-width: 220px;
}

.overview-table tr,
.facility-dashboard-table tr {
  border-bottom: 1px solid #c7c7c780;
}

.overview-table thead tr,
.facility-dashboard-table thead tr {
  border-color: #c7c7c7;
}

.overview-table tr td,
.facility-dashboard-table tr td {
  overflow: hidden;
  white-space: nowrap;
}

.overview-table td:nth-child(1),
.overview-table th:nth-child(1),
.facility-dashboard-table td:nth-child(1),
.facility-dashboard-table th:nth-child(1) {
  width: 40px;
}

.overview-table td:nth-child(3),
.overview-table th:nth-child(3) {
  width: 150px;
  text-align: right;
  padding-right: 22px;
}

.overview-table td:nth-child(3) {
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
}

.overview-table td:nth-child(3) svg {
  margin-left: 10px;
}

.facility-dashboard-table td:nth-child(3),
.facility-dashboard-table th:nth-child(3),
.facility-dashboard-table td:nth-child(4),
.facility-dashboard-table th:nth-child(4) {
  width: 70px;
}

.facility-dashboard-table td:nth-child(3) {
  font-weight: bold;
}

.facility-dashboard-table td:nth-child(5),
.facility-dashboard-table th:nth-child(5) {
  width: 250px;
}

.overview-table td:nth-child(4),
.overview-table th:nth-child(4),
.facility-dashboard-table td:nth-child(6),
.facility-dashboard-table th:nth-child(6) {
  width: 150px;
}

.overview-table td:nth-child(5),
.overview-table th:nth-child(5) {
  width: 180px;
}

.overview-table td:nth-child(6),
.overview-table th:nth-child(6) {
  width: 80px;
}

.overview-table table,
.facility-dashboard-table table {
  width: 75%;
}

.overview-table table td,
.facility-dashboard-table table td {
  padding: 5px 6px;
}

.overview-table tr td span,
.facility-dashboard-table tr td span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overview-table .header {
  color: #21386b;
  margin: 0 auto 10px;
}

.overview-table .note,
.facility-dashboard-table .note {
  margin-top: 25px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 10px;
  width: 100%;
}

.footer span:not(.num-page) {
  color: #A4A4A4;
}

.footer img {
  display: block;
  width: auto;
  max-height: 18px;
  height: 100%;
  margin-left: 4px;
}

.footer .num-page {
  right: 50px;
  position: absolute;
  font-weight: bold;
}

/* note */
.note {
  margin-top: 10px;
  font-size: 12px;
}

.note .list {
  margin-top: 6px;
  padding-left: 21px;
}

/* Utility */
.float-center {
  text-align: center;
}

.float-left {
  text-align: left;
}

.float-right {
  text-align: right;
}

/* Media print */
@media print {
  .page {
    margin: 0 auto!important;
    box-shadow: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 21cm;
    max-width: 29.7cm;
    size: A4 landscape;
  }

  .footer {
    bottom: 0;
  }

  .footer .num-page {
    right: 0;
  }
}
